footer.footer
  .footer__links
    .footer__grid
      .footer__col
        ul
          li.col__link
            a(href='#') About Us
          li.col__link
            a(href='#') The Company
          li.col__link
            a(href='#') Our History
      .footer__col
        ul
          li.col__link
            a(href='#') Privacy Policy
          li.col__link
            a(href='#') Cookie Policy
          li.col__link
            a(href='#') FAQs
      .footer__col
        ul
          li.col__link
            a(href='#') Upcoming Events
          li.col__link
            a(href='#') Best Offer
          li.col__link
            a(href='#') Top 5 Halls
      .footer__col
        ul
          li.col__link
            a(href='#')
              i.fab.fa-instagram
              | Instagram
          li.col__link
            a(href='#')
              i.fab.fa-facebook-square
              | Facebook
          li.col__link
            a(href='#')
              i.fab.fa-twitter
              | Twitter
  .footer__credit
    // Copyright
    p.copyright
      | Bookings&amp;Reservation | Copyright &copy; 2022 | All Rights Reserved
    // Powered By
    p.powered__by Powered by Toks.net&trade; Digitals Limited
div.modal
script(src="https://unpkg.com/axios/dist/axios.min.js")
script(src='/index.js')
script(src='/bundle.js')