header.header
  nav.navh
    .logo
      a(href='')
        img.navh__img(src='/images/favicon.jpg' alt='LOGO')
    .title
      h3.navh__title #{title}
    .links
      ul
        li.navh__link
          a(href='/') Home
        li.navh__link
          a(href='/bookings') Bookings
        li.navh__link
          a(href='/calender') calender
        li.navh__link
          a(href='/bookings-table') table
        li.navh__link
          a(href='/bin') bin
        li.navh__link
          a(id="logout") Logout
    .menu-btn
      .menu-btn__line
      .menu-btn__line
      .menu-btn__line
.menu
  ul.menu__list
    li.menu__link
      a(href="/") Home
    li.menu__link
      a(href="/bookings") Bookings
    li.menu__link
      a(href="#") Halls
    li.menu__link
      a(href='/calender') calender
    li.menu__link
      a(href='/bookings-table') table
    li.menu__link
      a(href='/bin') bin
    li.menu__link
      a(id="logout") Logout

