extends base

block content
  main
    // Reservation Form goes here
    form.booking-form#reservation-form
      .input-group
        label.form__label(for='clientName')
          input#clientName.form__input(type='text' name='clientName' autocomplete='given-name' placeholder="Enter the Client's name")
        label.form__label(for='clientTel')
          input#clientTel.form__input(type='tel' name='clientTel' autocomplete='tel' placeholder="Enter the Client's Phone Number")
      label.form__label(for='clientEmail')
        input#email.form__input(type='email' name='clientEmail' autocomplete='email' placeholder="Enter the Client's email")
      .input-group
        label(for='hallname')
          select#hallname.form__input(name='hallname')
            option(value='' disabled='' selected='') Choose a Hall
            option(value="Africa Hall Conference") Africa Hall Conference
            option(value="Africa Hall Wedding") Africa Hall Wedding
            option(value="Africa Hall Galleria") Africa Hall Galleria
            option(value="Arcade Hall") Arcade Hall
            option(value="Aso Hall") Aso Hall
            option(value="Banquet Hall") Banquet Hall
            option(value="Benue Hall") Benue Hall
            option(value="Executive Hall Conference") Executive Hall Conference
            option(value="Executive Hall Wedding") Executive Hall Wedding
            option(value="Executive Lounge") Executive Lounge
            option(value="Niger Hall") Niger Hall
            option(value="Office Space") Office Space
            option(value="Suleja Garden") Suleja Garden
            option(value="Taraba Hall") Taraba Hall
        label(for='attendance')
          input#attendance.form__input(type='number' name='attendance' placeholder='Enter the event Attendance' min='5' max='3000')
      .input-group_money 
        label(for='paid')
          select#paidB(name="paid")
            option(value="unpaid") unpaid 
            option(value="deposit") Deposit 
            option(value="paid") Fully paid 
      .session_p 
        p please note that if you do not check either of this box then you will be booked for both morning and evening sessions
      .input-session 
        div 
          label(for='session') morning (6:00am - 2:00pm)
          input#session__input_m(type='checkbox' name='morning' value='morning')
        div 
          label(for='session') evening  (4:00pm - 12:00am)
          input#session__input_e(type='checkbox' name='morning' value='evening')
      div.calender__container
        div.calender__calender
          div.calender__month
            div.calender__left_arrow
              i(class='fas fa-angle-left')
            div.calender__month_group
              h1  
              p 
            div.calender__right_arrow
              i(class='fas fa-angle-right')
          div.calender__weekdays
            div Sun
            div Mon
            div Tue
            div Wed
            div Thur
            div Fri
            div Sat
          div.calender__days
      .payment__details 
        .payment__amount Amount:$5000
        .payment__charge charge: $500(10%)
        .payment__vat VAT: $375(7.5%)
        .payment__refund Refundable Caution: $440 000
        .payment__total Total: $5875

      label.form__label(for='event')
        textarea#event.form__textarea(name='event' placeholder='Event Description' maxlength='500' minlength='5')
      
            
            
      //- .input-group
      //-   label.form__label(for='bookedFrom')
      //-     | Start
      //-     input#bookedFrom.form__input(type='date' name='bookedFrom' placeholder='Start')
      //-   label.form__label(for='bookedTo')
      //-     | End
      //-     input#bookedTo.form__input(type='date' name='bookedTo' placeholder='End')
      form
        .coupon 
          input.payment__discount(placeholder="Enter Discount" oninput="isNumber(this.value)")
          button(type="submit" class="coupon__input") Apply
        label.form__label
          button.form__input.bg-green SUBMIT
