extends base

block content
  main
    // Reservation Form goes here    
    .calender-cont 
      .calender-cont-header 
        .nav
          .nav-left
            i(class='fas fa-angle-left') 
          .nav-right
            i(class='fas fa-angle-right') 

        .calender-month
          h2 
          p 

      //-   .calender-selection
      //-     //- button.month-btn month 
      //-     //- button.week-btn week 
      //-     //- button.day-btn day
      //- .calender-cont-body 
      //-   .calender-body-header 
      //-     div Sun 
      //-     div Mon 
      //-     div Tue 
      //-     div Wed
      //-     div Thu 
      //-     div Fri 
      //-     div Sat 
      //-   .calender-body-body 
      div(id="calendar" style="height: 600px")  