doctype html
html(lang='en')
  head
    title #{title} | Bookings & Reservation
    link(rel='stylesheet' href='/css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Bookings&Reservation provides you with service and quality like no other. The place to get the best halls for the best prices")
    meta(name="keywords", content="bookings&reservation, bookings and reservation, bookings, reservation, halls, events, event centres")
    link(rel="shortcut icon", href="/images/favicon.jpg", type="image/jpg")
    link(rel="stylesheet", href="/css/all.min.css")

  body
    .error-bg
      p.message #{message}
      a(href="/").brown Go Back Home