table
  th Name
  th Email
  th Phone Number
  th Hallname
  th Attendance
  th Event
  th Booked From
  th Booked To
  tr
    td Client Name -
    td Client Email -
    td Client Phone Number -
    td Hallname -
    td Attendance -
    td Event -
    td Booked From -
    td Booked To -